html, body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  height: 100%;
}

canvas {
  display: block;
  background: #111;
}

#textEditor {
  position: absolute;
  display: none;
  background: transparent;
  border: 1px solid #555;
  color: white;
  outline: none;
  resize: none;
  overflow: hidden;
  font-family: Arial;
}